logs/
crash-reports/
world/data/enhancedcelestials:lunar_event_data.dat
world/
banned-ips.json
banned-players.json
config/
eula.txt
journeymap/
libraries/
ops.json
run-server.sh
server.properties
usercache.json
usernamecache.json
whitelist.json
minecraft_server.1.16.5.jar
